.status {
    display: inline;
    top: 57%;
    margin-left: 95%;
    text-overflow: ellipsis;
}
.dot {
    height: 15px;
    width: 15px;
    background-color: rgb(20, 199, 65);
    border-radius: 50%;
    display: inline-block;
    margin-right: inherit;
  }
.dropdown-menu {
    top: 56% !important
}
.navbar-dark .navbar-brand {
    color: #fff;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;

}
.agent-name {
    color: #3c4858;
    display: inline;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden,
}
.agent-nav-bar {
    box-shadow: 5px -4px 47px 12px rgb(0 0 0 / 26%)

}
.dropdown-menu.show {
    display: block;
    transform: translate3d(0px, 15px, 0px) !important;
}
