

#conversation-list {
    grid-area: conversation-list;
    background: #ffffff;
    overflow-y: auto;
    /* transform: translate(0px, -45px); */
    max-height: 81vh;
}

.conversation {
    display: grid;
    grid-template-columns: 40px 1fr max-content;
    grid-gap: 2px;
    color: #3c4858;
    font-size: 1rem;
    border-bottom: 2px solid #dee2e6;
    padding: 20px 20px 20px 15px;
}

.conversation.active,
.conversation:hover {
    background: #dee2e6;
    border-left: 3px solid #3fa3ff;
}

.conversation:hover {
    cursor: pointer;
}

.conversation > img {
    grid-row: span 2;
    height: 40px;
    width: 40px;
    border-radius:100%;

}

.title-text {
    font-weight: 640;
    color: #3c4858;
    padding-left: 5px;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.created-date {
    color: #3c4858;
    white-space: nowrap;
    font-size: 0.6rem;
}

.conversation-message {
    grid-column: span 2;
    padding-left: 5px;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}
/* .list.active {
    border-left: 1px solid green;
  } */
/* .active, .conversation:hover {
    border-left: 5px solid #3fa3ff;
  } */