
#chat-message-list {
    /* grid-area: chat-message-list; */
    display:flex;
    flex-direction:column;
    padding: 0 20px;
    min-height: 80vh;
    max-height: 80vh;
    overflow-y: scroll;
}
.message-row {
    display: grid;
    grid-template-columns: 100%;
    margin-bottom: 20px;
}

.message-content {
    display:grid;
}

.you-message .message-content {
    justify-content: end;
}

.you-message .message-content {
    justify-content:end;
}

.other-message {
    justify-items: start;
}

.other-message .message-content {
    grid: template columns 48px 1fr;
    grid-column-gap: 15px;
}

.message-row img {
    border-radius: 100%;
    grid-row: span 2;
    height: 40px;
    width: 40px;
}

.message-time {
    font-size: 0.7rem;
    color: #777;
    text-align: end;
    margin-block-end: -23px;
    transform: translate(5px, -3px);
}
.message-time-sender {
    font-size: 0.7rem;
    color: #777;
    text-align: start;
    margin-block-end: -23px;
    transform: translate(3px, -4px);
}
.message-time-admin {
    font-size: 0.7rem;
    color: #777;
    text-align: center;
    margin-block-end: -23px;
}
.message-text {
    padding: 9px 14px;
    font-size:0.8rem;
    margin-bottom: 5px;
}

.you-message .message-text {
    background: #1f93ff;
    /* max-width: 75%; */
    /* margin-left: 30%; */
    color: #eee;
    word-break: break-all;
    border: 1px solid #e9ecef;
    border-radius:9px 9px 0 9px;
}
.admin-message .message-text {
    background: #e1f5feeb;
    /* max-width: 75%; */
    /* margin-left: 30%; */
    color: #3c4858;
    text-align: center;
    word-break: break-all;
    border: 1px solid #e9ecef;
    border-radius:9px 9px 9px 9px;
}

.other-message .message-text {
    background: #ffffff;
    color: #111;
    border: 1px solid #ddd;
    border-radius: 9px 9px 9px 0;
}

.send-messages {
    width: 91%;
    /* border-radius: 10px; */
    outline:none;
    display: inline-block;
    height: 7vh;
    margin-left: 7px;
    margin-top: 1vh;


}

.send-btn {
    margin-bottom: 6px;
    /* border-radius: 10px; */
}
.nav-bar {
    box-shadow: 3px 6px 47px -5px rgb(0 0 0 / 26%);
}
.send-bar {
    background: #f8f9fa;
    height: 9vh;
    box-shadow: 3px 6px 47px -5px rgb(0 0 0 / 26%);
}

/* .sent-msg {
    position: fixed;
    display: contents;
} */





