.grid {
    display: grid;
    grid-template-columns: 330px 640px 257px;
    grid-gap: 0.8em;
  }
  
  header, footer {
    grid-column: 1 / 3;
  }
  
  @media all and (max-width: 700px) {
    aside,
    article {
      grid-column: 1 / 3;
    }
  }
  
  body {
    background-color: #a1dfe8 !important;
    margin: 0 auto;
    max-width: 79em;
    padding: 0.5em 0.7em ;
  }
  
  header,
  aside,
  article,
  footer {
    background: #eaeaea;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 97vh;
  }