/* * {
  font-family: Inter,-apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Tahoma,Arial,sans-serif;
} */
.grid {
  display: grid;
  grid-template-columns: 328px 693px 258px;
  grid-gap: 0em;
}

header, footer {
  grid-column: 1 / 3;
}

@media all and (max-width: 700px) {
  aside,
  article {
    grid-column: 1 / 3;
  }
}

body {
  background-color: #eaeaea !important;
  margin: 0 auto;
  max-width: 79em;
  background-color: aqua;
  /* padding: 0.5em 0.7em ; */
}

header,
aside,
article,
footer {
  background: #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.before-box {
  text-align: center;
  margin-top: 38%;
}