.nav-change {
    background-color: #f8f9fa;
}
.active,
.nav-change:hover {
    border-bottom: 1px solid #3fa3ff  ;
    
}
.nav-text-change {
    color: #3c4858;
}
.nav-text-change.active,
.nav-text-change:hover {
    color: #3fa3ff  ;
    
}