.add-details {
    max-height: 97vh;
    min-height: 97vh;
    overflow-y: auto;
    width: auto;
}
.card-img {
    border-radius:100%;
    width: 10px;
}
.card-img-top {
    height: 180px;
    border-radius: 100%;
}